body{
    flex-direction: column;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    background-color: antiquewhite;
    width: 480px;
    height: 480px;
}